
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'AlumniSansPinstripe';
    font-style: normal;
    src: url('/fonts/AlumniSansPinstripe/AlumniSansPinstripe-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'PalanquinDark';
    font-style: normal;
    src: url('/fonts/PalanquinDark/PalanquinDark-Regular.ttf') format('truetype');
    font-weight: 400;
  }

  @font-face {
    font-family: 'PalanquinDark';
    src: url('/fonts/PalanquinDark/PalanquinDark-Medium.ttf') format('truetype');
    font-weight: 500;
  }

  @font-face {
    font-family: 'PalanquinDark';
    src: url('/fonts/PalanquinDark/PalanquinDark-SemiBold.ttf') format('truetype');
    font-weight: 600;
  }

  @font-face {
    font-family: 'PalanquinDark';
    src: url('/fonts/PalanquinDark/PalanquinDark-Bold.ttf') format('truetype');
    font-weight: 700;
  }
}